<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metropolitan Rage Warehouse</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      body {font-family: "Inconsolata", "Consolas", "Andale Mono", "Monaco", monospace;}
      h1, h2 {font-weight: bold; font-family: "Courier New", monospace;}
      .btn-primary {background-color: #643; border-color: #a76;}
    </style>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p align="center">
                    <a href="/">
                        <img src="/static/rage.png" style="max-width: 280px;">
                    </a>
                </p>
            </div>
            <div class="col-md-8" style="padding-top: 5px;">
                {% if section == 'main' or section == 'clue' %}
                <h1>Cluebot</h1>
                <form class="form-horizontal" action="/search" method="get">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="clue">Clue</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="clue" id="clue" placeholder="Clue text" value="{% if clue %}{{ clue }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="pattern">Pattern</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="pattern" id="pattern" placeholder="Regex" value="{% if pattern %}{{ pattern }}{% endif %}">
                        </div>
                        <label class="col-sm-2 control-label" for="length">Length</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="length" id="length" value="{% if length %}{{ length }}{% endif %}">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                <p>(All fields are optional)</p>
                {% endif %}

                {% if section == 'main' or section == 'anagram' %}
                <h1>Mixmaster</h1>
                <form class="form-horizontal" action="/anagram" method="get">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="letters">Letters</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="letters" id="letters" placeholder="Letters to anagram" value="{% if letters %}{{ letters }}{% endif %}">
                        </div>
                        <label class="col-sm-2 control-label" for="wildcards"># wildcards</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="wildcards" id="wildcards" placeholder="0" value="{{ wildcards }}">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Anagram</button>
                        </div>
                    </div>
                </form>
                {% endif %}

                {% if section == 'main' %}
                <h1>Links</h1>
                <pre>
<a href="http://web.mit.edu/puzzle/www/"><strong>Mystery Hunt page</strong></a>

<strong>Our stuff:</strong>
· <a href="http://rotq.net/czar">Czar</a> (our puzzle tracker, maintained by gwillen)
· <a href="http://github.com/rspeer/solvertools">Solvertools</a> (Python tools by rspeer; runs this site)
· <a href="http://github.com/dgulotta/puzzle-tools">Puzzletools</a> (more Python tools by dgulotta)
· <a href="/static/anagrampage/index.html">Interactive anagrammer</a> (by rspeer)

<strong>Simple wordlist:</strong> <a href="/static/enable2k.txt">ENABLE2K</a> (never use /usr/share/dict/words)
<strong>Other stuff:</strong> <a href="http://www.quinapalus.com/qat.html">Qat</a> · <a href="http://nutrimatic.org/">Nutrimatic</a> · <a href="http://oneacross.com/">One Across</a> · <a href="http://www.puzzlers.org/dokuwiki/doku.php?id=solving:start">NPL solving tools</a>
                </pre>
                {% endif %}

                {% if section == 'clue' or section == 'anagram' %}
                    {% if error %}
                    <h1>Error</h1>
                    {{ error }} :(
                    
                    {% elif results %}
                    <h1>Results</h1>
                    <table style="margin-bottom: 2em; margin-left: 2em">
                        <col style="width: 5em">
                        <col>
                        <thead>
                            <tr>
                                <th>Score</th>
                                <th>Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for score, result in results %}
                            <tr>
                                <td>{{ score|round(2) }}</td>
                                <td>{{ result }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                    <h2>No results.</h2>

                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
  </body>
</html>
