docs/*.html
data/db/
data/search
data/wordlists/*.txt
data/wordlists/greppable/
data/wordlists/alphabytes/
data/wordlists/raw/
env/
build/
dist/
notebook/
.ipynb_checkpoints
*.log
*.swp
*.egg-info
__pycache__


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk


#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
Cargo.lock
