docs/*.html
data/db/
data/search
data/wordlists/*.txt
data/wordlists/greppable/
data/wordlists/alphabytes/
data/wordlists/raw/
data/corpora/wikipedia.txt
data/corpora/all.txt
env/
build/
dist/
notebook/
.ipynb_checkpoints
*.log
*.swp
*.egg-info
__pycache__
