docs/*.html
data/db/
data/search
data/wordlists/*.txt
data/wordlists/greppable/
data/wordlists/alphabytes/
data/wordlists/raw/big/
env/
build/
dist/
notebook/
.ipynb_checkpoints
*.log
*.swp
*.egg-info
__pycache__
